<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="me.thc" level="debug" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>
	<logger name="org.apache" level="info" />
	<logger name="org.springframework" level="info" />
	<logger name="org.asynchttpclient" level="info" />
	<logger name="thc" level="debug" />

	<root level="info">
		<appender-ref ref="CONSOLE"/>
	</root>

</configuration>