<configuration>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/web-parser-rest.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>log/web-parser-rest.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="async" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="file" />
	</appender>

	<logger name="org.apache" level="info" />
	<logger name="org.springframework" level="info" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    	<encoder>
      		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    	</encoder>
  </appender>
  
	<root level="debug">
		<appender-ref ref="async" />
		<appender-ref ref="stdout" />
	</root>
</configuration>
