version: '3.7'

services:
  web-parser-rest:
    image: thcathy/web-parser-rest:{{ docker_image_tag }}
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.{{ app_name }}.rule={{ traefik_router_rule }}"
        - "traefik.http.routers.{{ app_name }}.middlewares={{ app_name }}-prefix@swarm"
        - "traefik.http.routers.{{ app_name }}.tls.certresolver=myresolver"
        - "traefik.http.routers.{{ app_name }}.entrypoints=websecure"
        - "traefik.http.services.{{ app_name }}.loadbalancer.server.port=8080"
        - "traefik.http.middlewares.{{ app_name }}-prefix.stripprefix.prefixes=/{{ app_name }}"
        - "traefik.swarm.network={{ traefik_network }}"
      update_config:
        delay: 10s
        failure_action: rollback
        order: start-first
    environment:
      JASYPT_ENCRYPTOR_PASSWORD: {{ jasypt_encryptor_password }}
    healthcheck:
      test: ["CMD-SHELL", "curl -sS http://localhost:8080/rest/index/constituents/HSI || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 5
    volumes:
      - {{ docker_volume_root }}/{{ namespace }}/logs:/logs
    networks:
      - overlay
      - {{ traefik_network }}

networks:
  overlay:
  {{ traefik_network }}:
    external: true
