---
- name: check server is respsonding
  uri:
    url: "https://{{ inventory_hostname }}/{{ app_name }}/rest/index/constituents/HSI"
    return_content: yes
    status_code: 200
    body_format: json
  register: result
  until: result.status == 200
  retries: 5
  delay: 30
  tags: verify
- name: check rest response
  fail:
    msg: "{{ result }}"
  when: result.json[0] is not defined
