<configuration>



  <logger name="org.apache" level="info" />
  <logger name="org.springframework" level="info" />

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="async" class="ch.qos.logback.classic.AsyncAppender">

    <appender-ref ref="stdout" />
  </appender>

  <root level="debug">
    <appender-ref ref="async" />
  </root>
</configuration>
